{% extends 'mailing/base.html' %}
{% load static %}
{% block content %}
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" xmlns="http://www.w3.org/1999/html">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/2.jpg' %}" class="rounded mx-auto d-block" alt="image 1" width="100%"
                     height="100%">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Работа по всему миру</h1>
                        <p class="opacity-75">Мы работаем со всеми почтовыми сервисами.</p>
                        <p><a class="btn btn-lg btn-success" href="#">Присоединяйся сегодня</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/2.jpg' %}" class="rounded mx-auto d-block" alt="image 1" width="100%"
                     height="100%">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Комфорт и качество</h1>
                        <p class="opacity-75">
                            Мы прислушиваемся к нашим пользователям<br>
                            и постоянно работаем над улучшением сервиса.<br>
                            Телефон, планшет, компьютер: пользуйтесь где и когда угодно.
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/2.jpg' %}" class="rounded mx-auto d-block" alt="image 1" width="100%"
                     height="100%">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Открытость и простота</h1>
                        <p class="opacity-75">
                            Можно бесплатно воспользоваться сервисом и вам не понадобятся инструкции,<br>
                            ведь сервис интуитивно прост.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg"
                     role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>
                    Placeholder</title>
                    <image href="{% static 'images/3474362.png' %}" width="140" height="140"></image>
                </svg>
                <h2 class="fw-normal">Отслеживание статуса рассылки</h2>
                <p>В личном кабинете легко отслеживать статусы ваших рассылок.</p>
                <p><a class="btn btn-secondary" href="{% url 'mailing:settings_list' %}">Перейти &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg"
                     role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>
                    Placeholder</title>
                    <image href="{% static 'images/1004733.png' %}" width="140" height="140"></image>
                </svg>
                <h2 class="fw-normal">Быстрое добавление клиентов</h2>
                <p>Добавляйте ваших клиентов всего в 3 клика.</p>
                <p><a class="btn btn-secondary" href="{% url 'mailing:client_list' %}">Перейти &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg"
                     role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>
                    Placeholder</title>
                    <image href="{% static 'images/Settings_30027.png' %}" width="140" height="140"></image>
                </svg>
                <h2 class="fw-normal">Гибкие настройки рассылки</h2>
                <p>Настраивайте рассылку, исходя из ваших нужд и предпочтений.</p>
                <p><a class="btn btn-secondary" href="{% url 'mailing:settings_list' %}">Перейти &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


    </div><!-- /.container -->
{% endblock %}